


<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
  <title>zju666 -  用户界面管理  </title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
  <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>
    <div th:replace="fragments/header :: header"></div>
    <div class="container-fluid" style="max-width: 600px; margin: 0 auto;">
    <h2 class="text-center">List of Users</h2>
    <div th:switch="${users}">
        <h2 th:case="null">No users yet!</h2>
            <div th:case="*">
                <h2>Users</h2>
                <table class="table table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">用户名</th>
                            <th scope="col">密码</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user : ${users}">
                        <td th:text="${user.username}"></td>
                        <td th:text="${user.password}"></td>
                        <td><a th:href="@{/edit/{id}(id=${user.id})}">Edit</a></td>
                        <td><a th:href="@{/delete/{id}(id=${user.id})}">Delete</a></td>
                    </tr>
                </tbody>
            </table>
        </div>      
        <p><a href="/signup">Add a new user</a></p>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</body>

</html>